Source: mbrtu
Section: electronics
Priority: optional
Maintainer: Marc Haber <mh+debian-packages@zugschlus.de>
Build-Depends: debhelper (>= 11), libmodbus-dev (>= 3.1.3)
Standards-Version: 4.1.3
Homepage: https://github.com/gitaeuber/mbrtu

Package: mbrtu
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: modbus master tool for serial modbus communication (modbus RTU)
 mbrtu is a small command line tool to communicate with modbus slaves on a
 serial (RS485) bus (RTU). It is based on libmodbus. mbrtu is a short form of
 "Modbus RTU". The program mbrtu only accepts command line options. It doesn't
 read any configuration file. It can only be used as modbus master.
